{% if events %}
  <ul class="mx-0 mt-5 p-0 eventsBody__pagination list-not-bullets d-flex justify-content-center flex-wrap align-items-center">
    <li class="me-3 my-2">
      {% if page > 1 %}
        <button sprig
          s-select="#eventsApp"
          s-target="#eventsApp"
          s-swap="outerHTML"
          s-val:page="{{ page - 1 }}"
          class="btn px-3 py-1 btn-outline-black"
          s-push-url="?page={{ page - 1 }}">
          Anterior
        </button>
      {% else %}
        <button class="btn px-3 py-1 btn-outline-black" disabled>
          Anterior
        </button>
      {% endif %}
    </li>

    {% set itemsPerPage = 10 %}
    {% set totalPages = pageInfo.totalPages %}

    {% if totalPages > itemsPerPage %}
      {% set startPage = (page - 1) // itemsPerPage * itemsPerPage + 1 %}
      {% set endPage = min(startPage + itemsPerPage - 1, totalPages) %}
    {% else %}
      {% set startPage = 1 %}
      {% set endPage = totalPages %}
    {% endif %}

    {% for i in startPage..endPage %}
      <li class="eventsBody__pagination--item m-2">
        {% if i == page %}
          <span class="active" style="font-size: 19px;">{{ i }}</span>
        {% else %}
          <a sprig
            s-val:page="{{ i }}"
            s-push-url="?page={{ i }}"
            s-select="#eventsApp"
            s-target="#eventsApp"
            s-swap="outerHTML"
            style="font-size: 19px;"
            class="">
            {{ i }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
    <li class="blog__pagination--item ms-3 my-2">
      {% if page < pageInfo.totalPages %}
        <button sprig
          s-select="#eventsApp"
          s-target="#eventsApp"
          s-swap="outerHTML"
          s-val:page="{{ page + 1 }}"
          class="btn px-3 py-1 btn-outline-black"
          s-push-url="?page={{ page + 1 }}">
          Próximo
        </button>
      {% else %}
        <button class="btn btn-outline-black px-3 py-1" disabled>
          Próximo
        </button>
      {% endif %}
    </li>
  </ul>
{% endif %}
