{% extends '_layouts/_element.twig' %}

{# Properties layout #}
{% set group = 'component' %}
{% set type = type ?? null %}

{# Properties #}
{% set mp = mp ?? null %}
{% set baseClass = baseClass ?? null %}

{# Container #}
{% set constainerFluid = constainerFluid ?? false %}
{% set classContainer = classContainer ?? '' %}

{% block element %}
  {% block customComponent %}
    <section data-component-handle="{{ type }}" class="{{ mp }}">
      {% block componentBody %}
        {{ baseClass ? ("<div class=#{baseClass}>")|raw : null }}
        {% block componentContainer %}
          <div class="{{ constainerFluid ? 'container-fluid' : 'container' }} {{
            classContainer
            }}">
            {% block componentContent %}
              {% include 'quarks/_infoElement' %}
            {% endblock %}
          </div>
        {% endblock %}
        {{ baseClass ? '</div>'|raw : null }}
      {% endblock %}
    </section>
  {% endblock %}
{% endblock %}
