{% if craft.app.config.env in displayComponentInfo ?? ['staging', 'dev'] %}
  {% if type and group %}
    <style>
      table { border-collapse: collapse; width: 100%; }

      th, td { border: 1px solid #dddddd; text-align: left; padding: 8px; }

      tr:nth-child(even) { background-color: #f2f2f2; }
    </style>
    <table class="my-3">
      <tr>
        <th></th>
        <th>Path</th>
        <th>Files</th>
      </tr>
      <tr>
        <td>Component directory (Manual)</td>
        <td>/templates/{{ group }}s/{{ type }}/</td>
        <td>index.twig || index.html</td>
      </tr>
      <tr>
        <td>Development files (Manual)</td>
        <td>/templates/{{ group }}s/{{ type }}/src/</td>
        <td>style.scss || index.js</td>
      </tr>
      <tr>
        <td>Public css file (Automatic)</td>
        <td>/web/assets/css/{{ group }}s/</td>
        <td>{{ type }}.{{ group }}.css</td>
      </tr>
      <tr>
        <td>Public js file (Automatic)</td>
        <td>/web/assets/js/{{ group }}s/</td>
        <td>{{ type }}.{{ group }}.js</td>
      </tr>
    </table>
  {% else %}
    <p>
      Information is missing to locate the partial correctly, you can locate the
      partial in the following path <code>/templates/partial/</code>
    </p>
  {% endif %}
{% endif %}
